/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Sono:wght@300;400;500&family=Source+Code+Pro:ital,wght@1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"); */
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
}
.navbar {
  margin-bottom: 0;
  background-color: #031b3b;
  border: 0;
  letter-spacing: 4px;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar li {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  /* color: black !important; */
  color: rgb(47, 157, 201) !important;
  border-radius: 5px !important;
  padding: 5px;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.secondry {
  background-color: rgba(200, 186, 186, 0.456);
}
.wel1 {
  display: flex;
  justify-content: center;
}
#wel {
  color: #21365c;
}
.hero img {
  width: 100%;
  height: 700px;
}
.pixelPro {
  position: absolute;
  font-weight: bold;
  color: #031b3b;
  width: 600px;
  height: 250px;
  background-color: rgba(220, 220, 220, 0.397);
  left: 15rem;
  top: 8rem;
  font-size: 16px;
  padding: 20px;
  border-radius: 20px;
}

.buu {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

.buu:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.hero {
  position: relative;
}

.hero-img {
  position: relative;
  height: 100vh;
}

.hero-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 460px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: black;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1cd9ff, #0f4cbe);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-collapse {
    justify-content: start;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: end;
  }
}

element.style {
  width: 100%;
  margin-bottom: 5px;
}

.jumbotron {
  background-color: #021c3f;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}

.anii {
  animation: moveUpDown 1s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

button {
  align-items: center;
  background-image: linear-gradient(
    144deg,
    rgb(5, 6, 45),
    #1f0b99 50%,
    rgb(8, 9, 68)
  );
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

.slide-up {
  opacity: 0;
  transform: translateY(50%);
  animation: slideUpAnimation ease 1s forwards;
}

@keyframes slideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }

  25% {
    width: 25%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(49, 162, 199);
  }
}
